version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install --upgrade pip
      - run:
          name: Run robot script
          command: python robot.py

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
